@page
@model XCaptcha.Demo.Pages.GCaptchaV2Invisible
@{
    ViewData["Title"] = "G-CaptchaV2-Invisible";
}

<pre>@Model.Result</pre>

<script>
    function callback(token) {
        document.getElementById("token").value = token;
        document.getElementById("demo-form").submit();
    }
</script>

<g-captcha-v2-script />

<form id="demo-form" method="POST">
    <input id="token" name="token" type="text" />
    <button g-captcha-v2-callback="callback" g-captcha-v2-size="invisible">Click Verify</button>
</form>

