@page
@model XCaptcha.Demo.Pages.HCaptchaV2Checkbox
@{
    ViewData["Title"] = "HCaptcha-V2-Checkbox";
}

<pre>@Model.Result</pre>

<h-captcha-v2-script />

<form method="POST">
    <input id="token" name="token" type="text" />
    <input id="submit" type="submit" value="submit" disabled="disabled" />
</form>

<script>
    function callback(token) {
        document.getElementById("token").value = token;
        document.getElementById("submit").disabled = false;
    }
</script>

<h-captcha-v2-div callback="callback" />
