@page
@model XCaptcha.Demo.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a href="/GCaptchaV2Checkbox">GCaptcha V2 Checkbox Demo</a>
</div>

<div>
    <a href="/GCaptchaV2Invisible">GCaptcha V2 Invisible Demo</a>
</div>

<div>
    <a href="/GCaptchaV3">GCaptcha V3 Demo</a>
</div>

<div>
    <a href="/GCaptchaV3Programmatically">GCaptcha V3 Programmatically Demo</a>
</div>

<div>
    <a href="/HCaptchaV2Checkbox">HCaptcha V2 Checkbox Demo</a>
</div>

<div>
    <a href="/HCaptchaV2Invisible">HCaptcha V2 Invisible Demo</a>
</div>

<div>
    <a href="/LCaptchaV2Checkbox">LCaptcha V2 Checkbox Demo</a>
</div>

<div>
    <a href="/LCaptchaV2Invisible">LCaptcha V2 Invisible Demo</a>
</div>

<div>
    <a href="/ReCaptchaV2Checkbox">ReCaptcha V2 Checkbox Demo</a>
</div>

<div>
    <a href="/ReCaptchaV2Invisible">ReCaptcha V2 Invisible Demo</a>
</div>

<div>
    <a href="/ReCaptchaV3">ReCaptcha V3 Demo</a>
</div>

<div>
    <a href="/ReCaptchaV3Programmatically">ReCaptcha V3 Programmatically Demo</a>
</div>
