@page
@model XCaptcha.Demo.Pages.ReCaptchaV3
@{
    ViewData["Title"] = "Re-Captcha-V3";
}

<pre>@Model.Result</pre>

<form method="POST">
    <input id="token" name="token" type="text" />
    <input id="submit" type="submit" value="submit" disabled="disabled" />
</form>


<script>
    function callback(token) {
        document.getElementById("token").value = token;
        document.getElementById("submit").disabled = false;
    }
</script>

<re-captcha-v3-script />
<re-captcha-v3-script-js action="login" callback="callback" />
